
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}

.menu-toggle .bar {
    height: 10px;
    width: 100%;
    background-color: white;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
    }
   


    .nav-links li {
        text-align: center;
        padding: 15px 0;
    }
    .nav-links li a:hover {
        text-align: center;
        padding: 15px 0;
        color: #515151;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links.active {
        display: flex;
    }
}
